@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">StationSights</h1>
    <p>Introducing our Proximity-based Tourist Attractions Finder, a groundbreaking app that connects travellers to the most captivating tourist attractions near public transport stations. Say goodbye to the hassle of searching for nearby attractions - with a single click, our app unveils an array of hidden gems just steps away from your chosen station.</p>
</div>

